<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1" >
    <test name="Regression" >
        <classes>
            <class name="com.ilcarro.qa.tests.LoginTests" />

            <class name="com.ilcarro.qa.tests.AddCarTests">
                <methods>
                    <exclude name=".*negative.*"/>
                </methods>
            </class>

        </classes>
    </test>

</suite>